ErrorDocument 403 /error.php
ErrorDocument 404 "Not found!"

order deny,allow
deny from all
allow from 1.2.3.4
allow from 5.6.7.8
allow from 9.9.9.9

<Files "getsensor.php">
    Allow from all
</Files>

<Files "api.php">
    Allow from all
</Files>

<Files "api2.php">
    Allow from all
</Files>

