ErrorDocument 403 /error.php
ErrorDocument 404 "Not found!"

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /
  RewriteRule ^image/(\d*).png /image.php?id=$1 [L,QSA]
</IfModule>

order deny,allow
deny from all
allow from 1.2.3.4
allow from 5.6.7.8
allow from 9.9.9.9

<Files "ip.php">
    Allow from all
</Files>

<Files "api.php">
    Allow from all
</Files>

<Files "api2.php">
    Allow from all
</Files>

<Files "getradio.php">
    Allow from all
</Files>


<Files "error.php">
    Allow from all
</Files>

<Files "*.jpg">
    Allow from all
</Files>

<Files "*.png">
    Allow from all
</Files>

<Files "*.txt">
    Allow from all
</Files>
